#login input{
    margin-bottom: .5em;
}
#login input:last-of-type{
    margin-right: .5em;
}

#cField{
    display:inline-block;
    min-width: 70px;
}

.off{
    display: none;
}

#tasks{
    display: inline-block;
    width: 100%;
}
#tasks tr{
    display: inline-block;
    width: 100%;
    padding: 3px 0px;
}
#tasks th:first-of-type{
    display: inline-block;
    width: 60%
}
#tasks th{
    display: inline-block;
    width: 10%
}

#tasks td:first-of-type{
    display: inline-block;
    width: 60%;
}
#tasks td{
    display: inline-block;
    width: 10%;
}
#tasks td:last-of-type{
    border: 1px solid darkred;
    height: 20px;
    border-radius: 5px;
    background-color:red; 
    width: 30px;
    text-align: center;
}

.overdueIcon{
    margin-left: 5px;
    display: inline-block;
    border: 1px solid black;
    height: 1.5em;
    width: 1.5em;
    border-radius: 50%;
    background-color: red; 
    color: black;
    text-align: center;
}

#tasks td:last-of-type:hover{
    background-color: darkred; 
}